<% show_post ||= false %>

<div class="well span8">
  <em>"<%= comment.body %>"</em>
  <% if show_post %>
    on <%= link_to comment.post.title, post_path(comment.post) %>
  <% end %>
  <br/>
  <span class='quite'>by</span> <%= comment.user.username %>
  <small>at <%= comment.created_at %></small>
</div>