<div class='row'>
    <div class="span8 well">
      <% render post.categories %>
      <h4><%= link_to post.title, post %></h4>
      <p><%= post.description %></p>
      <p>
        <small>at <%= post.created_at %></small>
      </p>
      <small>

      </small>
    </div>
  </div>